# Core functionality - changes here should be rare!
/src/app.py                   @raulmaciasdev
/src/backend/database.py      @raulmaciasdev
/src/backend/routers/auth.py  @raulmaciasdev

# The frontend will need refactored soon to be more object oriented.
/src/static/   @raulmaciasdev
